<!DOCTYPE html>
<html>
  <head>
    <title>MeetGreet</title>
    <script type="text/javascript">
      window.category1 = "<%= image_url('splash/category1.webp') %>"
      window.category2 = "<%= image_url('splash/category2.webp') %>"
      window.category3 = "<%= image_url('splash/category3.webp') %>"
      window.meetupLogo = "<%= image_url('splash/meetup-logo.svg') %>"
      window.onlineEvents = "<%= image_url('splash/online_events.svg') %>"
      window.greenBlob = "<%= image_url('splash/green-blob.svg') %>"
      window.redBlob = "<%= image_url('splash/red-blob.svg') %>"
      window.yellowBlob = "<%= image_url('splash/yellow-blob.svg') %>"
    </script>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
