<!DOCTYPE html>
<html>
  <head>
    <title>MeetGreet</title>

    <!-- not a fan of passing images to React this way but it'll do for now -->
    <script type="text/javascript">      
      window.category1 = "<%= image_url('splash/category1.webp') %>"
      window.category2 = "<%= image_url('splash/category2.webp') %>"
      window.category3 = "<%= image_url('splash/category3.webp') %>"
      window.meetupLogo = "<%= image_url('splash/meetup-logo.svg') %>"
      window.onlineEvents = "<%= image_url('splash/online_events.svg') %>"
      window.joinGroup = "<%= image_url('splash/joinGroup.svg') %>"
      window.findEvent = "<%= image_url('splash/findEvent.svg') %>"
      window.startGroup = "<%= image_url('splash/startGroup.svg') %>"
      window.smallLogo = "<%= image_url('splash/meetup_logo_m.png') %>"
      window.ios = "<%= image_url('splash/ScreenIos.webp') %>"
      window.android = "<%= image_url('splash/ScreenAndroid.webp') %>"      
      window.iosDownload = "<%= image_url('splash/download_ios.svg') %>"      
      window.androidDownload = "<%= image_url('splash/download_android.svg') %>"      
      window.socialFacebook = "<%= image_url('splash/social-facebook-circle.svg') %>"      
      window.socialInstagram = "<%= image_url('splash/social-instagram.svg') %>"      
      window.socialTwitter = "<%= image_url('splash/social-twitter.svg') %>"      
      window.socialYoutube = "<%= image_url('splash/social-youtube.svg') %>"   
      window.firstArticle = "<%= image_url('splash/first_article.webp') %>"   
      window.secondArticle = "<%= image_url('splash/second_article.webp') %>"   
      window.thirdArticle = "<%= image_url('splash/third_article.webp') %>"   


    </script>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
