<!DOCTYPE html>
<html>
  <head>
    <title>MeetGreet</title>

    <!-- not a fan of passing images to React this way but it'll do for now -->
    <script type="text/javascript">      
      window.category1 = "<%= image_url('splash/category1.webp') %>"
      window.category2 = "<%= image_url('splash/category2.webp') %>"
      window.category3 = "<%= image_url('splash/category3.webp') %>"
      window.meetupLogo = "<%= image_url('splash/meetup-logo.svg') %>"
      window.onlineEvents = "<%= image_url('splash/online_events.svg') %>"
      window.joinGroup = "<%= image_url('splash/joinGroup.svg') %>"
      window.findEvent = "<%= image_url('splash/findEvent.svg') %>"
      window.startGroup = "<%= image_url('splash/startGroup.svg') %>"
    </script>

    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
